.main-title
    .main-title-container 
        p
            | Ўзбекистон Республикаси Президенти ҳузуридаги
        p 
            | Статистика агентлигининг
        p 
            | 2023 йил 13 июндаги 36-сон буйруғи билан
        p 
            | тасдиқланган “Кузатилмайдиган иқтисодиётни
        p 
            | баҳолаш мақсадида уй хўжаликлари
        p 
            | харажатларини ўрганиш бўйича танланма
        p 
            | кузатувларни ташкил этиш ва ўтказиш тартиби”га
        p 
            | 1-ИЛОВА
p(class="mt-2 text-2xl font-bold tracking-tight text-gray-900 sm:text-2xl text-center pb-4") СТАТИСТИКА КУЗАТУВИ ШАКЛИ
div(class="flex flex-col")
  div(class="overflow-x-auto sm:-mx-6 lg:-mx-8")
    div(class="inline-block min-w-full py-2 sm:px-6 lg:px-8")
      .overflow-hidden
        table(class="min-w-full border text-center text-sm font-light dark:border-neutral-500")
          thead(class="border-b font-medium dark:border-neutral-500")
            tr
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") Сўровнома ўтказади
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") Сўровнома ўтказиш муддатлари
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") 2-xarajat
          tbody
            tr(class="border-b dark:border-neutral-500")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                p
                    b 
                        | Давлат статистика органлари
                    br
                    | (Ўзбекистон Республикаси Президенти
                    br
                    | ҳузуридаги Статистика агентлиги
                    br
                    | томонидан белгиланган рўйхат бўйича)
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") Август
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") Бир марталик
div(class="flex flex-col")
  div(class="overflow-x-auto sm:-mx-6 lg:-mx-8")
    div(class="inline-block min-w-full py-2 sm:px-6 lg:px-8")
      .overflow-hidden
        table(class="min-w-full border text-center text-sm font-light dark:border-neutral-500")
          thead(class="border-b font-medium dark:border-neutral-500")
            tr
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500" colspan="2") Сўровнома ўтказган статистика органи номи 
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") МҲОБТ коди
          tbody
            tr(class="border-b dark:border-neutral-500")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500" colspan="2")
                .w-full
                  input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="company" name="company" type="text" placeholder="Statistika agentligi")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                .w-full
                  input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text" placeholder="МҲОБТ коди")
div(class="flex flex-col")
  div(class="overflow-x-auto sm:-mx-6 lg:-mx-8")
    div(class="inline-block min-w-full py-2 sm:px-6 lg:px-8")
      .overflow-hidden
        table(class="min-w-full border text-center text-sm font-light dark:border-neutral-500")
          tbody
            tr(class="border-b dark:border-neutral-500")
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500" colspan="2") Сўровнома ўтказилган кун: сана, ой
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                .w-full
                  input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
            tr(class="border-b dark:border-neutral-500")
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500" colspan="2") Уй хўжалигининг рақами
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                .w-full
                  input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
            tr(class="border-b dark:border-neutral-500")
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500" colspan="2") Респондентнинг исми ва фамилияси
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                .w-full
                  input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
h1(class="my-4 pl-3 text-4xl font-extrabold leading-none tracking-tight text-gray-900 md:text-2xl lg:text-2xl dark:text-white") Махфийлик ахборот олувчи томонидан кафолатланади
p(class="mt-2 text-2xl font-bold tracking-tight text-gray-900 sm:text-2xl text-center pb-4") УЙ ХЎЖАЛИКЛАРИ ХАРАЖАТЛАРИНИ ЎРГАНИШ СЎРОВНОМАСИ
div(class="flex flex-col")
  div(class="overflow-x-auto sm:-mx-6 lg:-mx-8")
    div(class="inline-block min-w-full py-2 sm:px-6 lg:px-8")
      .overflow-hidden
        table(class="min-w-full border text-center text-sm font-light dark:border-neutral-500")
          thead(class="border-b font-medium dark:border-neutral-500")
            tr
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500")
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") Ф.И.O.
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") Имзо
              th(scope="col" class="border-r px-6 py-4 dark:border-neutral-500") Код
          tbody
            tr(class="border-b dark:border-neutral-500")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") Интервьюер
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") 
                input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") 
                input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") 
                input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
            tr(class="border-b dark:border-neutral-500")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500") Супервайзер
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
              td(class="whitespace-nowrap border-r px-6 py-4 dark:border-neutral-500")
                input(class="appearance-none block w-full text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="soato" name="soato" type="text")
p(class="mt-2 text-md font-bold tracking-tight text-gray-900 sm:text-md text-center pb-4") ҲУРМАТЛИ РЕСПОНДЕНТ!
.w-full 
  p(class="mb-3 text-lg text-gray-500 md:text-xl dark:text-gray-400 display: inline-block") 
    span.pl-3 Мен, статистика органи ходими 
    sapn(class="border-b border-teal-500 py-2 display: inline-block mx-2")
      <input class="appearance-none bg-transparent border-none text-gray-700 mr-3 py-1 px-2 leading-tight focus:outline-none w-96" type="text" placeholder="Ф.И.O." aria-label="Ф.И.O.">
    span 
      | ушбу сўровномани тўлдиришда менга ёрдам беришингизни сўрайман.